<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit">Agregar Alumno</i>
    </div>
    <div class="card-body">
      <form class="form-horizontal">
        <div class="form-group">
          <br><h2>Informacion Personal</h2><br>
          <div class="row">
            <div class="col-4">
                <label class="col-form-label" for="prependedInput">Fecha</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="date">
                  </div>
                </div>
            </div>
            <div class="col">
                <label class="col-form-label" for="prependedInput">Nombre</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Fecha de Nacimiento</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="date">
                    </div>
                  </div>
              </div>
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Lugar de Nacimiento</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="text">
                    </div>
                  </div>
              </div>
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Edad</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="text">
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label class="col-form-label" for="prependedInput">Numero Identidad</label>
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="prependedInput" class="form-control" size="16" type="text">
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <label class="col-form-label" for="prependedInput">Tipo de Sangre</label>
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        </div>
                        <select name="tipo_sangre"  class="form-control" placeholder="Tipo Sangre" >
                            <option>
                                Seleccione
                            </option>  
                          <option>
                                O +
                            </option>
                            <option>
                                O -
                            </option>
                            <option>
                                A -
                            </option>
                            <option>
                                A +
                            </option>
                            <option>
                                B -
                            </option>
                            <option>
                                B -
                            </option>
                            <option>
                                AB -
                            </option>
                            <option>
                                AB -
                            </option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <label class="col-form-label" for="prependedInput">Alergias</label>
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="prependedInput" class="form-control" size="16" type="text">
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Enfermedades</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input id="prependedInput" class="form-control" size="16" type="text">
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Vacunas</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input id="prependedInput" class="form-control" size="16" type="text">
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Otros</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input id="prependedInput" class="form-control" size="16" type="text">
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Operaciones</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Fracturas</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Dificultad de Conducta</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                          <label class="col-form-label" for="prependedInput">Grado</label>
                          <div class="controls">
                            <div class="input-prepend input-group">
                              <div class="input-group-prepend">
                              </div>
                              <input id="prependedInput" class="form-control" size="16" type="text">
                            </div>
                          </div>
                      </div>
                      <div class="col-4">
                          <label class="col-form-label" for="prependedInput">Tipo Ingreso</label>
                          <div class="controls">
                            <div class="input-prepend input-group">
                              <div class="input-group-prepend">
                              </div>
                              <select name="ingreso" class="form-control" placeholder="Ingreso" >
                                <option>
                                    Seleccione
                                </option>  
                                <option>
                                      Primer Ingreso
                                  </option>
                                  <option>
                                      Reingreso
                                  </option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="col-4">
                          <label class="col-form-label" for="prependedInput">Repitente</label>
                          <div class="controls">
                            <div class="input-prepend input-group">
                              <div class="input-group-prepend">
                              </div>
                              <select name="repitente" class="form-control" placeholder="Repitente" >
                                <option>
                                    Seleccione
                                </option>  
                                <option>
                                      Si
                                  </option>
                                  <option>
                                      No
                                  </option>
                              </select>
                            </div>
                          </div>
                      </div>
                    </div>


        </div>
        <div class="form-group">
          <label class="col-form-label" for="appendedInput">Escuela Anterior</label>
          <div class="controls">
            <div class="input-group">
              <input id="appendedInput" class="form-control" size="16" type="text">
              <div class="input-group-append">
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <h2>Informacion Padre</h2><br>
        <div class="form-group">
          <label class="col-form-label" for="appendedInput">Nombre del Padre</label>
          <div class="controls">
            <div class="input-group">
              <input id="appendedInput" class="form-control" size="16" type="text">
              <div class="input-group-append">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="col-form-label" for="prependedInput">Numero Identidad</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-4">
                <label class="col-form-label" for="prependedInput">Edad</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-4">
                <label class="col-form-label" for="prependedInput">Grado Academico</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <select name="grado_padre" class="form-control" placeholder="Grado Academico" >
                        <option>
                            Seleccione
                        </option>  
                        <option>
                              Primaria Incompleta
                          </option>
                          <option>
                              Primaria Completa
                          </option>
                          <option>
                              Secundaria Incompleta
                          </option>
                          <option>
                              Secundaria Completa
                          </option>
                          <option>
                              Pregrado Incompleto
                          </option>
                          <option>
                              Pregrado Completo
                          </option>
                          <option>
                              Maestria Incompleta
                          </option>
                          <option>
                              Maestria Completa
                          </option>
                          <option>
                              Doctorado Incompleta
                          </option>
                          <option>
                              Doctorado Completa
                          </option>
                      </select>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Lugar de Trabajo</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="text">
                    </div>
                  </div>
              </div>
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Telefono Trabajo</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="text">
                    </div>
                  </div>
              </div>
              <div class="col-4">
                  <label class="col-form-label" for="prependedInput">Celular</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="prependedInput" class="form-control" size="16" type="text">
                    </div>
                  </div>
              </div>
            </div>
            <br><br>
            <h2>Informacion Madre</h2><br>
            <div class="form-group">
                <label class="col-form-label" for="appendedInput">Nombre de la Madre</label>
                <div class="controls">
                  <div class="input-group">
                    <input id="appendedInput" class="form-control" size="16" type="text">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Numero Identidad</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input id="prependedInput" class="form-control" size="16" type="text">
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Edad</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input id="prependedInput" class="form-control" size="16" type="text">
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <label class="col-form-label" for="prependedInput">Grado Academico</label>
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                          </div>
                          <select name="grado_madre" class="form-control" placeholder="Grado Academico" >
                              <option>
                                  Seleccione
                              </option>  
                              <option>
                                    Primaria Incompleta
                                </option>
                                <option>
                                    Primaria Completa
                                </option>
                                <option>
                                    Secundaria Incompleta
                                </option>
                                <option>
                                    Secundaria Completa
                                </option>
                                <option>
                                    Pregrado Incompleto
                                </option>
                                <option>
                                    Pregrado Completo
                                </option>
                                <option>
                                    Maestria Incompleta
                                </option>
                                <option>
                                    Maestria Completa
                                </option>
                                <option>
                                    Doctorado Incompleta
                                </option>
                                <option>
                                    Doctorado Completa
                                </option>
                            </select>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Lugar de Trabajo</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Telefono Trabajo</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="col-form-label" for="prependedInput">Celular</label>
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input id="prependedInput" class="form-control" size="16" type="text">
                          </div>
                        </div>
                    </div>
                  </div>
                  <br><br>
        <h2>Responsable del Niño</h2> <br>        
        <div class="form-group">
          <label class="col-form-label" for="appendedInput">Responsable de Llevar y Traer el Niño</label>
          <div class="controls">
            <div class="input-group">
              <input id="appendedInput" class="form-control" size="16" type="password">
              <div class="input-group-append">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Direccion Actual</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Telefono</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
        </div>
        <br><br>
        <h2>Contactos de Emergencia</h2><br>
        <div class="row">
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Familiar</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Telefono</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Amigo</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Telefono</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Vecino</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label" for="prependedInput">Telefono</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
